*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a, a:hover {
    text-decoration: none;
}
body {
    background-color: rgb(118, 177, 188);
}
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background-color: rgb(100, 164, 168);
}
.top-bar ul {
    list-style: none;
    display: flex;
}
.top-bar li {
    margin: 0px 5px;
}
.top-bar a {
    color: #fff;
}
.top-bar a:hover {
    color: rgb(246, 31, 2);
}
.logo img {
    width: 80px;
    margin-right: 10px;
}
nav {
    background: rgb(39, 32, 60);
    padding: 5px 20px;
    display: flex;
    align-items: center;
}
nav a {
    color: rgb(242, 6, 65);
}
nav a:hover {
    color: #ef4b3f;
}
.logo {
    flex: 1;
}
.menu {
    display: flex;
    align-items: center;
    list-style: none;
}
.menu li {
    padding: 15px 10px;
    font-size: 16px;
}
.toggle {
    font-size: 30px;
    display: none;
    color: #fff;
    cursor: pointer;
}
@media only screen and (max-width: 850px) {
    .toggle {
        display: block;
    }
    .menu {
        flex-direction: column;
        background-color: #484872;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 20px 0;
        display: none;
    }
    .menu.active {
        display: flex;
    }
    .menu li {
        text-align: center;
        padding: 15px 0;
    }
}
body h4 {
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    background-image: url(head.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h3, .upper {
    font-size: 25px;
    font-style: italic;
    text-align: center;
    text-transform: capitalize;
}
thead th {
    text-align: end;
}
h2 {
    font-size: 28px;
    text-align: center;
}
table {
    font-size: 20px;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
.shadowbox {
    background-color: rgba(104, 104, 207, 0.6);
    color: rgb(10, 11, 0);
    border-radius: 39px;
    padding: 30px;
}
.container {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 90px;
    padding: 50px;
}
.container .tax {
    background: linear-gradient(45deg, #cfdee8, #869092);
    padding: 20px 40px 40px;
    text-align: center;
    border-radius: 65px;
}
.container .tax h3 {
    font-size: 35px;
    color: #fff;
    opacity: 0.9;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0009;
    color: #fff;
    text-align: center;
}
.section {
    width: 50%;
}
.section p {
    font-size: 30px;
}
.section-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    width: 1200px;
    margin: 0 auto;
    padding: 40px;
}
.section-container .column {
    background: rgb(187, 204, 205);
    padding: 20px;
    border-radius: 65px;
    text-align: center;
}
.content-container p {
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}
.contactUs {
    width: 100%;
    padding: 40px 100px;
    background: linear-gradient(90deg, #3f3f3a 30%, #4d4c4c 30%, #564e4e 100%);
    height: auto;
}
.contactUs .title h2 {
    color: #fff;
    font-size: 50px;
    text-align: center;
}
.box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "form info"
        "form map";
    gap: 20px;
    margin-top: 20px;
}
.contact {
    background: rgb(117, 103, 103);
    padding: 20px;
    height: 600px;
}
.formbox .row50 {
    display: flex;
    gap: 20px;
}
.inputbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}
.formbox .row100 .inputbox {
    width: 100%;
}
.inputbox span {
    color: #242021;
    margin: 10px 0 5px;
    font-weight: 500;
}
.inputbox input, .inputbox textarea {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    resize: none;
}
.inputbox textarea {
    min-height: 220px;
}
.inputbox input[type="submit"] {
    background: #0f0f0f;
    color: #fff;
    border: none;
    max-width: 120px;
    cursor: pointer;
    padding: 14px 15px;
}
.inputbox ::placeholder {
    color: #999;
}
.info {
    background: rgb(117, 103, 103);
    padding: 20px;
}
.info h3 {
    color: #fff;
}
.info .infobox div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.info .infobox div span {
    min-width: 40px;
    color: #fff;
    height: 40px;
    background: #023953;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}
.info .infobox div p,
.info .infobox div a {
    color: #fff;
    font-size: 1.1em;
    text-decoration: none;
}
.sci {
    margin-top: 40px;
    display: flex;
}
.sci li {
    list-style: none;
    margin-right: 15px;
}
.sci li a {
    color: #fff;
    font-size: 2em;
}
.sci li a:hover {
    color: #fff;
}
.map {
    padding: 2px;
    height: 345px;
}
.map iframe {
    width: 100%;
    height: 100%;
}
